:root {
    --primary-color: #000080;
    --secondary-color: #CC5500;
    --accent1-color: #264653;
    --accent2-color: #eee;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: arial, helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    margin: 16px;
    padding: 8px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h1 {
    position: absolute;
    top: 20px;
    left: -15px;
    width: 100%;
    padding: 25px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--heading-font);
}

h2 {

    top: 20px;
    left: -15px;
    width: 100%;
    padding: 25px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
    font-family: var(--heading-font);
}

.hero article {
    margin: 16px;
    padding: 8px;
    background-color: var(--accent1-color);
}

section p {
    background-color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
}

footer nav a img {
    width: 50px;
    height: auto;
}

footer {
    background-color: var(--primary-color);
}