* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: .5rem;

}

form {
    margin: .5rem;
    padding: 1rem;
    background-color: #ddd;
    color: #111;
}

input,
textarea,
select {
    padding: .75rem;

}

button {
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    padding: .5rem;
}

code {
    display: block;
    background-color: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem
}

.quiz-item {
    border: none;
}